exceptions/src/main/app/exceptions.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:cluster="http://www.mulesoft.org/schema/mule/ee/cluster" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
    <configuration defaultExceptionStrategy-ref="Catch-Exception-Strategy" doc:name="Configuration">
        <http:config useTransportForUris="false"/>
    </configuration>
    <flow name="exceptionsFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/index" doc:name="HTTP"/>
        <set-payload value="#['welcome to mule ']" doc:name="Set Payload"/>
    </flow>
    <catch-exception-strategy name="Catch-Exception-Strategy">
        <set-property propertyName="content" value="423" doc:name="Property"/>
        <set-payload value="#[&quot;error&quot;:&quot;bad request&quot;]" doc:name="Set Payload"/>
    </catch-exception-strategy>
    <rollback-exception-strategy name="exceptionsGlobal_Rollback_Exception_Strategy">
        <logger level="INFO" doc:name="Logger"/>
    </rollback-exception-strategy>
    <flow name="exceptionsFlow1">
        <logger level="INFO" doc:name="Logger"/>
        <exception-strategy ref="Catch-Exception-Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="exceptionsFlow2">
        <logger level="INFO" doc:name="Logger"/>
        <exception-strategy ref="Catch-Exception-Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="exceptionsFlow3">
        <logger level="INFO" doc:name="Logger"/>
        <exception-strategy ref="exceptionsGlobal_Rollback_Exception_Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
</mule>
